/* ------------- RESET ------------------*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* ------------- COLORS ------------------*/
:root {
    --dark: #1F2937;
    --light: #F9FAF8;
    --muted: #E5E7EB;
    --blue: #3882F6;
}

/* ------------- LAYOUT ------------------*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
}

/* ------------- HEADER / HERO ------------------*/
header {
    background-color: var(--dark);
    color: var(--light);
}

.navbar{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: var(--muted);
    margin-bottom: 20px;
}

.hero-text button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.hero-image {
    width: 500px;
    height: 250px;
    background-color: #6B7280;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------- INFO SECTION ------------------*/

.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: var(--dark);
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 150px;
    text-align: center;
}

.card-box {
    width: 150px;
    height: 150px;
    border: 3px solid var(--blue);
    border-radius: 12px;
    margin-bottom: 10px;
}

/* ------------- QUOTE ------------------*/

.quote {
    background-color: var(--muted);
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: var(--dark);
}

.quote span {
    display: block;
    text-align: right;
    margin-top: 20px;
    font-weight: 900;
}

/* ------------- CTA ------------------*/
.cta-box {
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    padding: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-box p {
    color: var(--muted);
}

.cta-box button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 8px 30px;
    border-radius: 6px;
    cursor: pointer;
}

/* ------------- FOOTER ------------------*/
footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 30px;
}

/* ------------- RESPONSIVE ------------------*/
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cta-box {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}