/* ------------- RESET ------------------*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* ------------- COLORS ------------------*/
:root {
    --dark: #1F2937;
    --light: #F9FAF8;
    --muted: #E5E7EB;
    --blue: #3882F6;
}

/* ------------- LAYOUT ------------------*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
}

/* ------------- HEADER / HERO ------------------*/
header {
    background-color: var(--dark);
    color: var(--light);
}

.navbar{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: var(--muted);
    margin-bottom: 20px;
}

.hero-text button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.hero-image {
    width: 500px;
    height: 250px;
    background-color: #6B7280;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------- INFO SECTION ------------------*/